<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
  .form-group{
    max-width: 50%;
    margin:0 auto;
    padding: 10px;
  }
</style>
<body>
<div th:replace="fragments/bodyHeader_login :: bodyHeader_login"/>
<div class="container" >
  <form th:action="@{/admin/announcementForm}" method="post" >

    <div class="form-group">
      <label>공지 제목</label>

      <textarea name="announcementTitle" class="form-control" id="title"
      placeholder="공지 제목을 적어주세요">
            </textarea>
      <p class="textCount" id="titleCount">0자</p>
      <p class="textTotal">/30자</p>
    </div>

      <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
      $("#title").val("");
      $("#title").on('keydown keyup', function () {
        $(this).height(1).height( $(this).prop('scrollHeight')+12 );
      });
      $("#title").keyup(function (e) {
        let content = $(this).val(); // 글자수 세기
        if (content.length == 0 || content == '') {
          $('#titleCount').text('0자');
        } else {
          $('#titleCount').text(content.length + '자');
        }
        // 글자수 제한
        if (content.length > 30) {
          // 250자 부터는 타이핑 되지 않도록
          $(this).val($(this).val().substring(0, 30)); // 250자 넘으면 알림창 뜨도록
          alert('글자수는 30자까지 입력 가능합니다.');
        }; });
    </script>


    <div class="form-group">
      <label>공지 내용</label>

      <textarea name="announcementText" class="form-control" id="content"
                placeholder="공지 내용을 적어주세요">
            </textarea>
      <p class="textCount" id="contentCount">0자</p>
      <p class="textTotal">/250자</p>
    </div>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
      $("#content").val("");
      $("#content").on('keydown keyup', function () {
        $(this).height(1).height( $(this).prop('scrollHeight')+12 );
      });
      $("#content").keyup(function (e) {
        let content = $(this).val(); // 글자수 세기
        if (content.length == 0 || content == '') {
          $('#contentCount').text('0자');
        } else {
          $('#contentCount').text(content.length + '자');
        }
        // 글자수 제한
        if (content.length > 250) {
          // 250자 부터는 타이핑 되지 않도록
          $(this).val($(this).val().substring(0, 250)); // 250자 넘으면 알림창 뜨도록
          alert('글자수는 250자까지 입력 가능합니다.');
        }; });
    </script>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div th:replace="fragments/footer :: footer"/>
</div>
</div>
</body>
</html>
