
server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true


spring:
  datasource:
    url: jdbc:mysql://root.cnzle8av488m.ap-northeast-2.rds.amazonaws.com:3306/test
    username: root
    password: 1234

    driver-class-name: com.mysql.cj.jdbc.Driver


  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: false
    show-sql: true
    hibernate:
      format_sql: true
      ddl-auto: create
#      ddl-auto: update

    devtools:
      livereload:
        enabled: true
  mvc:
    static-path-pattern: /static/**


mybatis:
  type-aliases-package: com.project.together
  mapper-locations: mybatis/mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

  logging:
    level:
      org:
        hibernate:
          SQL: DEBUG
          type:
            descriptor:
              sql:
                BasicBinder: TRACE


