<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
</head>
<style>
    .layout{
        width: 500px;
        margin : 0 auto;
        margin-top: 40px;
    }
</style>
<body>
<div class="layout">
    <table>
        <thead>
        <tr>
            <th>아이디</th>
            <th>비번</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="test :${list}">
            <td th:text="${test.id}"></td>
            <td th:text="${test.pw}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>