<!--<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>홈 화면</h2>
  </div>

  <h4 class="mb-3" th:text="|로그인 사용자 이름: ${user.userName}|">로그인 사용자 이름</h4>

  <hr class="my-4">

  <div class="row">
    <div class="col">
      <form th:action="@{/logout}" method="post">
        <button class="w-100 btn btn-dark btn-lg" onclick="location.href='home.html'" type="submit">
          로그아웃
        </button>
      </form>
    </div>
  </div>

  <hr class="my-4">

</div>  /container

</body>
</html>-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="text-center">
<!--<div class="container">-->
<div th:replace="fragments/bodyHeader_login :: bodyHeader_login" />
<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>마지막에 꾸밀 부분</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll,
      this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="/docs/5.1/components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>
</main>
<div class="jumbotron">
  <p class="lead">회원 기능</p>
  <p>
    <a class="btn btn-lg btn-secondary" href="/sell">판매 목록</a>
    <a class="btn btn-lg btn-secondary" href="/sell">구매 목록</a>
    <a class="btn btn-lg btn-secondary" href="/wish">찜 목록</a>
  <h4 class="mb-3" th:text="|로그인 사용자 이름: ${user.userName}|">로그인 사용자 이름</h4>
  <form th:action="@{/logout}" method="post">
    <button class="w-100 btn btn-dark btn-lg" onclick="location.href='home.html'" type="submit">
      로그아웃
    </button>
  </form>
  </p>
  <p class="lead">상품 기능</p>
  <p>
    <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>
    <a class="btn btn-lg btn-dark" href="/items">상품 목록</a>
  </p>
  <p class="lead">주문 기능</p>
  <p>
    <a class="btn btn-lg btn-info" href="/order"x>상품 주문</a>
    <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
  </p>
</div>
<!--    <div th:replace="fragments/footer :: footer" />-->
<!--</div> &lt;!&ndash; /container &ndash;&gt;-->