<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>

<style>
    .container-login {
        text-align: center;
        max-width: 50%;
        margin:0 auto;
        padding: 10px;
        white-space:nowrap;
    }
    .lfd{
        margin:0 auto;
        max-width: 80%;
    }
    .row{
        margin:0 auto;
        max-width: 80%;
    }
    .my-4{
        margin:0 auto;
    }
    .form-control{
        margin:0 auto;
    }
</style>
<script>
    function loginCheck() {

        var memberId = $("#userId").val();
        if(memberId.trim().length != 0) {
            $.ajax({
                async : true,
                type : 'POST',
                data: memberId,
                url: "/idCheck",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                success: function(count) {
                    if(count > 0) {
                        $("#submit").removeAttr("disabled");
                        document.login.submit();

                    }
                     else {
                        //swal("사용가능 아이디");
                        $("#submit").attr("disabled", "disabled");
                        swal({
                            title : "등록되지 않은 아이디 입니다!",
                            icon  : "error",
                            closeOnClickOutside : false
                        }).then(function(){
                        });
                    }
                },
                error: function(error) {
                    swal("아이디를 입력해주세요.1");
                }
            });
        } else {
            alert("아이디를 입력해주세요.2");
        }
    }
</script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>


<div class="container-login">
    <div class="py-5">
        <h2>로그인</h2>
    </div>
    <div th:if="${param.error}">
        <p th:text="${exception}" class="alert alert-danger"></p>
    </div>
    <form action="/login/proc" method="post" name="login">

        <div class="lfd">
            <div>
                <input type="text" name="username" class="form-control" style="max-width: 600px" placeholder="아이디" id="userId">
            </div>
            <br>
            <div>
                <input type="password" name="password" class="form-control"
                       style="max-width: 600px" placeholder="비밀번호">
            </div>
            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="button" onclick="loginCheck()">로그인</button>
                </div>

                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='home.html'"
                            th:onclick="|location.href='@{/}'|"
                            type="button">취소
                    </button>
                </div>

            </div>
            <br>
            <div class="col kakao">
                <button class="kakao-login" onclick="location.href='' +
                    'https://kauth.kakao.com/oauth/authorize' +
                    '?client_id=55951b24b88d60ec5899427d4125f8d5' +
                    '&redirect_uri=http://localhost:8090/login/oauthKakao' +
                    '&response_type=code' +
                    ''" type="button">카카오로 로그인하기</button>
            </div>
            <div class="row2">
                <hr class="my-4" style="max-width: 300px">
                <div class="col">
                    <a href='/users/new'>아직 회원이 아니신가요?</a>
                </div>

            </div>
        </div>
    </form>
</div>

</div> <!-- /container -->
</body>
</html>
