<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .form-group{
        max-width: 50%;
        margin:0 auto;
        padding: 10px;
    }
</style>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function confirm() {
        Swal.fire({
            title : "아이템 등록",
            text : '상품을 등록하시겠습니까?',
            icon : "question",
            showCancelButton : true,
            confirmButtonText : "예",
            cancelButtonText : "아니오",
        }).then((result) => {
            if (result.isConfirmed) {
                document.itemEnrollment.submit();
            }
        })
    }

    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
                change();
            }
        }).open();
    }
</script>
<body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<div th:replace="fragments/bodyHeader_login :: bodyHeader_login"/>
<div class="container" >
    <form th:action="@{/items/new}" th:object="${form}" method="post" enctype="multipart/form-data" name="itemEnrollment">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="form-group">
            <label th:for="name">상품명</label>
            <input type="text" th:field="*{name}" class="form-control" id="name"
                   th:errorclass="field-error" placeholder="상품명을 입력하세요">
            <div class="field-error" th:errors="*{name}"/>

        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control" id="price"
                   th:errorclass="field-error" placeholder="가격을 입력하세요">
            <div class="field-error" th:errors="*{price}"/>
        </div>

        <div class="form-group">
            <label for="category">카테고리</label>
            <select name="categoryId" id="category" class="form-control">
                <option value="">카테고리선택</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}" />
            </select>
        </div>

        <div class="form-group">
            <label th:for="itemLevel">상품 상태</label>
            <select th:field = "*{itemLevel}"  class="form-control" id="itemLevel">
                <option th:value="'S'">S(거의 새것)</option>
                <option th:value="'A'">A(사용감 조금 있음)</option>
                <option th:value="'B'">B(사용감 많이 있음)</option>
                <option th:value="'C'">C(약간의 하자가 있음)</option>
            </select>
            <div class="field-error" th:errors="*{itemLevel}"/>
        </div>

        <div class="form-group">
            <div>가격 협상</div>
            <div th:each="status : ${T(com.project.together.entity.Enul).values()}"
                 class="form-check form-check-inline">
                <input type="radio" th:field = "*{enul}" th:value="${status}" th:text="${status}" class="form-check-input" id="enul">
                <!--<label th:for="${#ids.prev('itemType')}" th:text="${reviewContent.contents}" class="form-check-label"></label>-->
            </div>
            <div class="field-error" th:errors="*{enul}"/>
        </div>

        <div class="form-group">
            <div>거래형태</div>
            <div th:each="status : ${T(com.project.together.entity.DealForm).values()}"
                 class="form-check form-check-inline">
                <input type="radio" th:field = "*{dealForm}" th:value="${status}" th:text="${status}" class="form-check-input" id="dealForm">
            </div>
            <div class="field-error" th:errors="*{dealForm}"/>
        </div>

        <div class="form-group">
            <label th:for="contents">상품 설명</label>

            <textarea th:field="*{contents}" class="form-control"
                   th:errorclass="field-error" placeholder="상품 설명을 해주세요">
            </textarea>
            <p class="textCount">0자</p>
            <p class="textTotal">/250자</p>
            <!--<script src="//code.jquery.com/jquery.min.js"></script>-->
            <script>
                $("textarea.form-control").on('keydown keyup', function () {
                    $(this).height(1).height( $(this).prop('scrollHeight')+12 );
                });
                $("textarea.form-control").keyup(function (e) {
                    let content = $(this).val(); // 글자수 세기
                 if (content.length == 0 || content == '') {
                     $('.textCount').text('0자');
                 } else {
                     $('.textCount').text(content.length + '자');
                 }
                 // 글자수 제한
                    if (content.length > 250) {
                        // 250자 부터는 타이핑 되지 않도록
                        $(this).val($(this).val().substring(0, 250)); // 250자 넘으면 알림창 뜨도록
                         alert('글자수는 250자까지 입력 가능합니다.');
                    }; });
            </script>
            <div class="field-error" th:errors="*{contents}"/>
        </div>
        <div class="form-group">
            <label>사진 올리기</label>
            <input multiple type="file" name="files" class="form-control" id="btnAtt">
            <div id="att_zone" data-placeholder="파일선택하거나 드래그앤드롭"></div>
            <script type="text/javascript">
                ( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
                    imageView = function imageView(att_zone, btn){

                        var attZone = document.getElementById(att_zone);
                        var btnAtt = document.getElementById(btn)
                        var sel_files = [];

                        // 이미지와 체크 박스를 감싸고 있는 div 속성
                        var div_style = 'display:inline-block;position:relative;'
                            + 'width:150px;height:120px;margin:5px;border:1px solid #00f;z-index:1';
                        // 미리보기 이미지 속성
                        var img_style = 'width:100%;height:100%;z-index:none';
                        // 이미지안에 표시되는 체크박스의 속성
                        var chk_style = 'width:30px;height:30px;position:absolute;font-size:24px;'
                            + 'right:0px;bottom:0px;z-index:999;background-color:rgba(255,255,255,0.1);color:#f00';

                        btnAtt.onchange = function(e){
                            var files = e.target.files;
                            var fileArr = Array.prototype.slice.call(files)
                            for(f of fileArr){
                                imageLoader(f);
                            }
                        }
                        // 탐색기에서 드래그앤 드롭 사용
                        attZone.addEventListener('dragenter', function(e){
                            e.preventDefault();
                            e.stopPropagation();
                        }, false)

                        attZone.addEventListener('dragover', function(e){
                            e.preventDefault();
                            e.stopPropagation();

                        }, false)

                        attZone.addEventListener('drop', function(e){
                            var files = {};
                            e.preventDefault();
                            e.stopPropagation();
                            var dt = e.dataTransfer;
                            files = dt.files;
                            for(f of files){
                                imageLoader(f);
                            }
                        }, false)
                        /*첨부된 이미리즐을 배열에 넣고 미리보기 */
                        imageLoader = function(file){
                            sel_files.push(file);
                            var reader = new FileReader();
                            reader.onload = function(ee){
                                let img = document.createElement('img')
                                img.setAttribute('style', img_style)
                                img.src = ee.target.result;
                                attZone.appendChild(makeDiv(img, file));
                            }
                            reader.readAsDataURL(file);
                        }
                        /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
                        makeDiv = function(img, file){
                            var div = document.createElement('div')
                            div.setAttribute('style', div_style)

                            var btn = document.createElement('input')
                            btn.setAttribute('type', 'button')
                            btn.setAttribute('value', 'x')
                            btn.setAttribute('delFile', file.name);
                            btn.setAttribute('style', chk_style);
                            btn.onclick = function(ev){
                                var ele = ev.srcElement;
                                var delFile = ele.getAttribute('delFile');
                                for(var i=0 ;i<sel_files.length; i++){
                                    if(delFile== sel_files[i].name){
                                        sel_files.splice(i, 1);
                                    }
                                }
                                dt = new DataTransfer();
                                for(f in sel_files) {
                                    var file = sel_files[f];
                                    dt.items.add(file);
                                }
                                btnAtt.files = dt.files;
                                var p = ele.parentNode;
                                attZone.removeChild(p)
                            }
                            div.appendChild(img)
                            div.appendChild(btn)
                            return div
                        }
                    }
                )('att_zone', 'btnAtt')
            </script>
        </div>
        <div class="form-group">
            <label>판매 위치</label>
            <input type="text" th:field="*{zipcode}" class="inputform" id="sample6_postcode" name="zipcode" placeholder="우편번호"
                   th:class="${#fields.hasErrors('zipcode')}? '' : ''">
            <button type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="check">우편번호 찾기</button><br>
            <input type="text" th:field="*{city}" class="inputform" id="sample6_address" name="city" placeholder="주소">
            <input type="text" th:field="*{street}" class="inputform" id="sample6_detailAddress" name="street" placeholder="상세주소">
            <input type="text" class="inputform" id="sample6_extraAddress" placeholder="참고항목">
            <input type="text" style="width: 100px" th:field="*{lat}" class="inputform" id="sample6_lat" name="lat" readonly/>
            <input type="text" style="width: 100px" th:field="*{lon}" class="inputform" id="sample6_lon" name="lon" readonly/>
        </div><br/>
        <div id="map_div"></div>

        <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="confirm()">Submit</button>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx48396a5595344e91870ba48981274ebf"></script>
<script type="text/javascript" src="/js/map.js"></script>
<script th:inline="javascript">
    function change() {
        var addr = document.getElementById("sample6_address").value + " " + document.getElementById("sample6_detailAddress").value;

        let [lat, lon] = findStringMap(addr);
        console.log(lat, lon);
        document.getElementById("sample6_lat").value = lat;
        document.getElementById("sample6_lon").value = lon;
    }
    initMap();
</script>
</body>
</html>
