<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .container-createItem{
        margin:0 auto;
        padding: 5%;
        width: 100%; height: 100%;
        position: relative;
        border-radius: 10px;
        z-index: 1;
    }
    .container-createItem::after {
        margin:0 auto;
        padding: 5%;
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        content: "";
        z-index: -1;
        background-image: url("/img/bg1.jpg");
        opacity: 0.5;
    }
    .createitemForm{
        width: 60%;
        margin:0 auto;
        padding: 5%;
        height: 100%;
        background-color: rgba(253, 205, 209, 0.699);
        border-radius: 10px;
    }
    .form-group{
        max-width: 50%;
        margin:0 auto;
        padding: 10px;
    }
    .btn-primary{
        float: right;
        width: 120px;
        height: 40px;
        color: white;
        background-color: #343a40;
        border-radius: 10px;
        border-style: none;
    }
</style>
<body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<div th:replace="fragments/bodyHeader_login :: bodyHeader_login"/>
<div class="container-createItem" >
    <div class="createitemForm">
        <div class="ciuser">
            <h2><strong>상품 등록</strong></h2>
            <hr class="my-4">
        </div>
    <form th:action="@{/items/new}" th:object="${form}" method="post" enctype="multipart/form-data">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="form-group">
            <label th:for="name">상품명</label>
            <input type="text" th:field="*{name}" class="form-control" id="name"
                   th:errorclass="field-error" placeholder="상품명을 입력하세요">
            <div class="field-error" th:errors="*{name}"/>

        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control" id="price"
                   th:errorclass="field-error" placeholder="가격을 입력하세요">
            <div class="field-error" th:errors="*{price}"/>
        </div>

        <div class="form-group">
            <label for="category">카테고리</label>
            <select name="categoryId" id="category" class="form-control">
                <option value="">카테고리선택</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}" />
            </select>
        </div>

        <div class="form-group">
            <label th:for="itemLevel">상품 상태</label>
            <select th:field = "*{itemLevel}"  class="form-control" id="itemLevel">
                <option th:value="'S'">S(거의 새것)</option>
                <option th:value="'A'">A(사용감 조금 있음)</option>
                <option th:value="'B'">B(사용감 많이 있음)</option>
                <option th:value="'C'">C(약간의 하자가 있음)</option>
            </select>
            <div class="field-error" th:errors="*{itemLevel}"/>
        </div>

        <div class="form-group">
            <div>가격 협상</div>
            <div th:each="status : ${T(com.project.together.entity.Enul).values()}"
                 class="form-check form-check-inline">
                <input type="radio" th:field = "*{enul}" th:value="${status}" th:text="${status}" class="form-check-input" id="enul">
                <!--<label th:for="${#ids.prev('itemType')}" th:text="${reviewContent.contents}" class="form-check-label"></label>-->
            </div>
            <div class="field-error" th:errors="*{enul}"/>
        </div>

        <div class="form-group">
            <div>거래형태</div>
            <div th:each="status : ${T(com.project.together.entity.DealForm).values()}"
                 class="form-check form-check-inline">
                <input type="radio" th:field = "*{dealForm}" th:value="${status}" th:text="${status}" class="form-check-input" id="dealForm">
            </div>
            <div class="field-error" th:errors="*{dealForm}"/>
        </div>

        <div class="form-group">
            <label th:for="contents">상품 설명</label>

            <textarea th:field="*{contents}" class="form-control"
                   th:errorclass="field-error" placeholder="상품 설명을 해주세요">
            </textarea>
            <p class="textCount">0자</p>
            <p class="textTotal">/250자</p>
            <!--<script src="//code.jquery.com/jquery.min.js"></script>-->
            <script>
                $("textarea.form-control").on('keydown keyup', function () {
                    $(this).height(1).height( $(this).prop('scrollHeight')+12 );
                });
                $("textarea.form-control").keyup(function (e) {
                    let content = $(this).val(); // 글자수 세기
                 if (content.length == 0 || content == '') {
                     $('.textCount').text('0자');
                 } else {
                     $('.textCount').text(content.length + '자');
                 }
                 // 글자수 제한
                    if (content.length > 250) {
                        // 250자 부터는 타이핑 되지 않도록
                        $(this).val($(this).val().substring(0, 250)); // 250자 넘으면 알림창 뜨도록
                         alert('글자수는 250자까지 입력 가능합니다.');
                    }; });
            </script>
            <div class="field-error" th:errors="*{contents}"/>
        </div>

<!--        <div class="form-group">-->
<!--            <label>사진 올리기</label>-->
<!--            <input multiple type="file" name="files" class="form-control">-->
<!--        </div>-->

        <div class="form-group">
            <label>사진 올리기</label>
            <input multiple type="file" name="files" class="form-control" id="btnAtt">
            <div id="att_zone" data-placeholder="파일선택하거나 드래그앤드롭"></div>
            <script type="text/javascript">
                ( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
                    imageView = function imageView(att_zone, btn){

                        var attZone = document.getElementById(att_zone);
                        var btnAtt = document.getElementById(btn)
                        var sel_files = [];

                        // 이미지와 체크 박스를 감싸고 있는 div 속성
                        var div_style = 'display:inline-block;position:relative;'
                            + 'width:150px;height:120px;margin:5px;border:1px solid #00f;z-index:1';
                        // 미리보기 이미지 속성
                        var img_style = 'width:100%;height:100%;z-index:none';
                        // 이미지안에 표시되는 체크박스의 속성
                        var chk_style = 'width:30px;height:30px;position:absolute;font-size:24px;'
                            + 'right:0px;bottom:0px;z-index:999;background-color:rgba(255,255,255,0.1);color:#f00';

                        btnAtt.onchange = function(e){
                            var files = e.target.files;
                            var fileArr = Array.prototype.slice.call(files)
                            for(f of fileArr){
                                imageLoader(f);
                            }
                        }
                        // 탐색기에서 드래그앤 드롭 사용
                        attZone.addEventListener('dragenter', function(e){
                            e.preventDefault();
                            e.stopPropagation();
                        }, false)

                        attZone.addEventListener('dragover', function(e){
                            e.preventDefault();
                            e.stopPropagation();

                        }, false)

                        attZone.addEventListener('drop', function(e){
                            var files = {};
                            e.preventDefault();
                            e.stopPropagation();
                            var dt = e.dataTransfer;
                            files = dt.files;
                            for(f of files){
                                imageLoader(f);
                            }
                        }, false)
                        /*첨부된 이미리즐을 배열에 넣고 미리보기 */
                        imageLoader = function(file){
                            sel_files.push(file);
                            var reader = new FileReader();
                            reader.onload = function(ee){
                                let img = document.createElement('img')
                                img.setAttribute('style', img_style)
                                img.src = ee.target.result;
                                attZone.appendChild(makeDiv(img, file));
                            }
                            reader.readAsDataURL(file);
                        }
                        /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
                        makeDiv = function(img, file){
                            var div = document.createElement('div')
                            div.setAttribute('style', div_style)

                            var btn = document.createElement('input')
                            btn.setAttribute('type', 'button')
                            btn.setAttribute('value', 'x')
                            btn.setAttribute('delFile', file.name);
                            btn.setAttribute('style', chk_style);
                            btn.onclick = function(ev){
                                var ele = ev.srcElement;
                                var delFile = ele.getAttribute('delFile');
                                for(var i=0 ;i<sel_files.length; i++){
                                    if(delFile== sel_files[i].name){
                                        sel_files.splice(i, 1);
                                    }
                                }
                                dt = new DataTransfer();
                                for(f in sel_files) {
                                    var file = sel_files[f];
                                    dt.items.add(file);
                                }
                                btnAtt.files = dt.files;
                                var p = ele.parentNode;
                                attZone.removeChild(p)
                            }
                            div.appendChild(img)
                            div.appendChild(btn)
                            return div
                        }
                    }
                )('att_zone', 'btnAtt')
            </script>
        </div>

        <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <br/>
    </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
