<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>simpleMap</title>
</head>
<body>
<div th:replace="fragments/bodyHeader_login :: bodyHeader_login" />
<div class="form-group">
    <input type="text" th:value="${user}" class="form-control" name="address" id="myaddress" placeholder="주소를 입력하세요" />
    <button th:onclick="change();">저장하기</button>
</div><br />
<div id="map_div"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx48396a5595344e91870ba48981274ebf"></script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/select.js"></script>
<script th:inline="javascript">
    function change() {
        var addr = document.getElementById("myaddress").value;

        findStringMap(addr);
    }
    initMap();
    change();
</script>
</body>
</html>