<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader_login :: bodyHeader_login"/>
<div class="container">

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>판매 상태</th>
                <th>등록 날짜</th>
                <th>찜한 사용자수</th>
                <th>카테고리</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.itemStatus}"></td>
                <td th:text="${item.createdAt}"></td>
                <td th:text="${item.wishCount}"></td>
                <td>
                    <span th:each="category : ${itemCategories}" th:if= "${category.itemIds == item.id} ">
                        <span th:text="${category.categoryName}"></span>
                    </span>
                </td>
                <td>
                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <span th:if="${item.buyer == null}">
                    <a href="#" th:href="@{/items/{id}/buy (id=${item.id})}"
                       class="btn btn-primary" role="button">거래완료</a>
                    </form>
                    </span>

                    <span th:unless="${item.buyer == null}">
                    <a href="#" class="btn btn-primary" onclick="javascript:reject()"
                       role="button">거래완료</a>
                        </form>
                    </span>
                    <script>
                        function reject() {
                            swal("이미 후기를 보낸 상품입니다")
                        }
                    </script>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>